CORE_DB_NAME=excalibur_core
CORE_DB_USERNAME=excalibur_core
CORE_DB_PASSWORD=replace-with-a-strong-core-password
REPORTING_DB_NAME=excalibur_reporting
REPORTING_DB_USERNAME=excalibur_reporting
REPORTING_DB_PASSWORD=replace-with-a-strong-reporting-password
REPORTING_INTERNAL_API_KEY=replace-with-at-least-32-random-characters
FRONTEND_PORT=4210

SAUNA_DB_NAME=excalibur_sauna
SAUNA_DB_USERNAME=excalibur_sauna
SAUNA_DB_PASSWORD=change-this-sauna-db-password
SAUNA_INTERNAL_API_KEY=change-this-sauna-internal-api-key

SOLARIUM_DB_NAME=excalibur_solarium
SOLARIUM_DB_USERNAME=excalibur_solarium
SOLARIUM_DB_PASSWORD=change-this-solarium-db-password
SOLARIUM_INTERNAL_API_KEY=change-this-solarium-internal-api-key
